.github/*
Whisked.xcodeproj/xcuserdata/*
PersistenceKit/.build/*
ThemeKit/.build/*
DerivedData/*
PersistenceKit/.swiftpm/*
ThemeKit/.swiftpm/*
Whisked.xcodeproj/xcuserdata/*
.vscode/*
Whisked.code-workspace
build-project.sh
